{% extends 'app/base.html.twig' %}

{% block body %}
    <section class="section hero is-link">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Fédération Internationale de Basketball</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container is-fluid">
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-left">
                        <img class="level-left" src="{{ asset('images/icons/AR.png') }}" style="height: 50px;">
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title">A VENIR</p>
                            <p class="heading">20/05/2018</p>
                        </div>
                    </div>
                    <div class="level-item has-text-right">
                        <img class="level-right" src="{{ asset('images/icons/AU.png') }}" style="height: 50px;">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-left">
                        <img class="level-left" src="{{ asset('images/icons/BL.png') }}" style="height: 50px;">
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title">A VENIR</p>
                            <p class="heading">30/05/2018</p>
                        </div>
                    </div>
                    <div class="level-item has-text-right">
                        <img class="level-right" src="{{ asset('images/icons/CA.png') }}" style="height: 50px;">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-left">
                        <img class="level-left" src="{{ asset('images/icons/CZ.png') }}" style="height: 50px;">
                    </div>
                    <div class="level-item has-text-right">
                        <div>
                            <p class="heading">SCORE</p>
                            <p class="title">96</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered"><p class="title">-</p></div>
                    <div class="level-item has-text-left">
                        <div>
                            <p class="heading">SCORE</p>
                            <p class="title">16</p>
                        </div>
                    </div>
                    <div class="level-item has-text-right">
                        <img class="level-right" src="{{ asset('images/icons/CN.png') }}" style="height: 50px;">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-left">
                        <img class="level-left" src="{{ asset('images/icons/DK.png') }}" style="height: 50px;">
                    </div>
                    <div class="level-item has-text-right">
                        <div>
                            <p class="heading">SCORE</p>
                            <p class="title">95</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered"><p class="title">-</p></div>
                    <div class="level-item has-text-left">
                        <div>
                            <p class="heading">SCORE</p>
                            <p class="title">51</p>
                        </div>
                    </div>
                    <div class="level-item has-text-right">
                        <img class="level-right" src="{{ asset('images/icons/DE.png') }}" style="height: 50px;">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-left">
                        <img class="level-left" src="{{ asset('images/icons/FI.png') }}" style="height: 50px;">
                    </div>
                    <div class="level-item has-text-right">
                        <div>
                            <p class="heading">SCORE</p>
                            <p class="title">86</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered"><p class="title">-</p></div>
                    <div class="level-item has-text-left">
                        <div>
                            <p class="heading">SCORE</p>
                            <p class="title">34</p>
                        </div>
                    </div>
                    <div class="level-item has-text-right">
                        <img class="level-right" src="{{ asset('images/icons/PT.png') }}" style="height: 50px;">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-left">
                        <img class="level-left" src="{{ asset('images/icons/RU.png') }}" style="height: 50px;">
                    </div>
                    <div class="level-item has-text-right">
                        <div>
                            <p class="heading">SCORE</p>
                            <p class="title">106</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered"><p class="title">-</p></div>
                    <div class="level-item has-text-left">
                        <div>
                            <p class="heading">SCORE</p>
                            <p class="title">104</p>
                        </div>
                    </div>
                    <div class="level-item has-text-right">
                        <img class="level-right" src="{{ asset('images/icons/HK.png') }}" style="height: 50px;">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
