{% extends 'app/base.html.twig' %}

{% block body %}
    <section class="section hero is-link">
        <div class="hero-body">
            <div class="container">
                <img src="{{ asset('images/logoBBLL.svg') }}" style="height: 50px;">
                <h1 class="title">Hackaton BBall</h1>
                <h2 class="subtitle">Symfony 3.4, BulmaIO (et peut-être Vue.js ?)</h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container is-fluid">
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-left">
                        <img class="level-left" src="{{ asset('images/icons/AR.png') }}" style="height: 50px;">
                    </div>
                    <div class="level-item has-text-centered"><p class="title">A venir</p></div>
                    <div class="level-item has-text-right">
                        <img class="level-right" src="{{ asset('images/icons/AU.png') }}" style="height: 50px;">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-left">
                        <img class="level-left" src="{{ asset('images/icons/BL.png') }}" style="height: 50px;">
                    </div>
                    <div class="level-item has-text-centered"><p class="title">A venir</p></div>
                    <div class="level-item has-text-right">
                        <img class="level-right" src="{{ asset('images/icons/CA.png') }}" style="height: 50px;">
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-left">
                        <img class="level-left" src="{{ asset('images/icons/CN.png') }}" style="height: 50px;">
                    </div>
                    <div class="level-item has-text-right"><p class="title">90</p></div>
                    <div class="level-item has-text-centered"><p class="title">-</p></div>
                    <div class="level-item has-text-left"><p class="title">50</p></div>
                    <div class="level-item has-text-right">
                        <img class="level-right" src="{{ asset('images/icons/CZ.png') }}" style="height: 50px;">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
