{{ form_start(form, { 'action': action }) }}
    <div class="field">
        <label class="label">{{ form_label(form.name) }}</label>
        <div class="control">{{ form_widget(form.name, { 'attr': { 'class': 'input' } }) }}</div>
    </div>
    <div class="field">
        <label class="label">{{ form_label(form.flag) }}</label>
        <div class="control">{{ form_widget(form.flag, { 'attr': { 'class': 'input' } }) }}</div>
    </div>
    <div class="field">
        <label class="label">{{ form_label(form.pool) }}</label>
        <div class="control select is-fullwidth">{{ form_widget(form.pool) }}</div>
    </div>
    <button class="button is-link is-fullwidth">{{submit}}</button>
{{ form_end(form) }}