{% extends 'admin/base.html.twig' %}

{% block title %}Liste des équipes{% endblock %}

{% block body %}
    {% include 'admin/_page_heading.html.twig' with {
        title: 'Equipes',
        subtitle: 'Liste des équipes'
    } %}

    <section class="section">
        <div class="container is-fluid">
            <div class="columns">
                <!-- Liste des équipes -->
                <div class="column is-8">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Drapeau</th>
                                <th>Poule</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                            <tr>
                                <th>{{ team.id }}</th>
                                <td>{{ team.name }}</td>
                                <td><a href="{{ team.flag }}" target="_blank">{{ team.flag }}</a></td>
                                <td>{{ team.pool.name }}</td>
                                <td>
                                    <a href="{{ path('admin_team_edit', { 'team': team.id }) }}">Modifier</a>
                                    <a href="{{ path('admin_team_delete', { 'team': team.id }) }}" class="has-text-danger">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Création d'une équipe -->
                <div class="column">
                    <div class="box">
                        {% include 'team/admin/_form.html.twig' with {
                            'form': create_form,
                            'submit': 'Créer l\'équipe',
                            'action': path('admin_team_create')
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
