{% extends 'admin/base.html.twig' %}

{% block body %}
    {% include 'admin/_page_heading.html.twig' with {
        title: 'Equipes',
        subtitle: 'Liste des équipes'
    } %}

    <section class="section">
        <div class="container is-fluid">
            <div class="columns">
                <!-- Liste des équipes -->
                <div class="column is-8">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Drapeau</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                            <tr>
                                <th>{{ team.id }}</th>
                                <td>{{ team.name }}</td>
                                <td><a href="{{ team.flag }}" target="_blank">{{ team.flag }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Création d'une équipe -->
                <div class="column">
                    <div class="box">
                        {{ form_start(create_form, { 'action': path('admin_team_create') }) }}
                            <div class="field">
                                <label class="label">{{ form_label(create_form.name) }}</label>
                                <div class="control">{{ form_widget(create_form.name, { 'attr': { 'class': 'input' } }) }}</div>
                            </div>
                            <div class="field">
                                <label class="label">{{ form_label(create_form.flag) }}</label>
                                <div class="control">{{ form_widget(create_form.flag, { 'attr': { 'class': 'input' } }) }}</div>
                            </div>
                            <button class="button is-link is-fullwidth">Créer l'équipe</button>
                        {{ form_end(create_form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
