{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'admin/_page_heading.html.twig' with {
        title: 'Matchs',
        subtitle: 'Liste des Matchs'
    } %}

    <section class="section">
        <div class="container is-fluid">
            <div class="columns">
                <!-- Liste des matchs -->
                <div class="column is-8">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Stade</th>
                                <th>Poule ?</th>
                                <th>Date</th>
                                <th>Terminé ?</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for game in games %}
                                <tr>
                                    <th>{{ game.id }}</th>
                                    <td>{{ game.stadium.city }}</td>
                                    <td>{% if game.isPoolGame %}Oui{% else %}Non{% endif %}</td>
                                    <td>{{ game.beginAt|date("m/d/Y à G:H") }}</td>
                                    <td>{% if game.isFinished %}Oui{% else %}Non{% endif %}</td>
                                    <td>
                                        <a href="{{ path('admin_game_edit', { 'game': game.id }) }}">Modifier</a>
                                        {#<a href="{{ path('admin_game_delete', { 'game': game.id }) }}" class="has-text-danger">Supprimer</a>                                            </li>#}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Créer un match -->
                <div class="column">
                    <div class="box">
                        {% include 'game/admin/_form.html.twig' with {
                            'form': create_form,
                            'submit': 'Créer le match',
                            'action': path('admin_game_create')
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src=""></script>
{% endblock %}