{{ form_start(form, { 'action': action }) }}
    <div class="field">
        <label class="label">{{ form_label(form.city) }}</label>
        <div class="control">{{ form_widget(form.city, { 'attr': { 'class': 'input' } }) }}</div>
    </div>
    <div class="field">
        <label class="label">{{ form_label(form.capacity) }}</label>
        <div class="control">{{ form_widget(form.capacity, { 'attr': { 'class': 'input' } }) }}</div>
    </div>
    <button class="button is-link is-fullwidth">{{submit}}</button>
{{ form_end(form) }}